html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section,a, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
    text-decoration: none;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
    background-color: #0E0718;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html{
    font-family: 'Montserrat', sans-serif;
}

body{
    background-color: #0E0718;
}
#botao{
    display: none;
    cursor: pointer;
}
.header{
    display: flex;
    justify-content: space-between;
    margin: 5% 6%;
    align-items: center;
    justify-items: center;
}
#logo_media_query{
    display: none;
}
.navbar ul{
    display: flex;
    gap:1rem;
}

.navbar li{
    padding: 0.7rem;
    background-color: blueviolet;
    border-radius: 10px;
    align-items: center;
    justify-items: center;
    text-align: center;
    box-shadow: 0px 4px 4px rgba(168, 105, 228, 0.25);
    
}

.navbar a{
    padding: 0.7rem;
    color: whitesmoke; 
    cursor: pointer;
    font-style: bold;
    font-weight: 500;
}

#logo_principal{
    width: 15rem;
    cursor: pointer;
}

.center{
    margin: 5% 6%;
}

.contanier_main{
    display: flex;
    justify-content: space-between;
    gap: 5rem;
    margin-top: 7rem;
    justify-items: center;
    align-items: center;
}
.titulo_e_texto_inicial {
    display: flex;
    flex-direction: column;
    gap: 2rem;
}
.paragrafo_main{
    color: #B77AEF;
    font-size: 1.2rem;
    line-height: 1.5rem;
    text-align: justify;
}
.fotos_apresentacao {
    max-width: 840px;
    display: flex;
    gap: 1rem;
    justify-content: flex-end;
    

}

.fotos_apresentacao img{
    max-width: 280px;
    max-height: 280px;
    border: 2px solid blueviolet;
    border-radius: 15px;
}

.titulos{
    color: blueviolet;
    font-weight: bold;
    font-size: 1.6rem;
    
}

.paragrafos{
    color: #B77AEF;
    font-size: 1.2rem;
    line-height: 1.5rem;  
}


/* seção app */

#app{
    margin-top: 10rem;
}

.fotos_app img{
    max-width: 320px;
    max-height: 320px;
    border: 2px solid blueviolet;
    border-radius: 15px;
   

}

.fotos_app {
    margin-top: 6rem;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 1rem;
    justify-items: center;

}
.texto_app{
    text-align: center;
}
.texto_app p{
    margin-top: 2rem;
}


/* Seção motivação */

#motivacao{
    margin-top: 15rem;
}

.texto_motivacao{
    align-items: center;
    text-align: center;
    color: #8a2be2;
    
}

.texto_motivacao p{
    line-height: 2rem;
    margin-top: 2rem;
}


/* Seção Download */
#download{
    margin-top: 15rem;
}
.contanier_down{
    display: flex;
    justify-content: space-between;
    justify-items: center;
    align-items: center;
}

.img_down img {
    width: 300px;
    transition: 1s;
    
}

.texto_download{
    display: flex;
    flex-direction: column;
    gap:1.1rem;
    width: 40%;
}

.texto_download a {
    color: whitesmoke;
    border: 2px solid blueviolet;
    font-size: 1rem;
    padding: 1rem;
    width: 40%;
    border-radius: 5px;
    text-align: center;
    
}


/* seção equipe */
.title_equipe{
    margin-top: 13rem;
    text-align: center;

}
.title_equipe p{
    margin-top: 1rem;
}
.contanier_equipe{
    display: flex;
    justify-content: space-between;
    margin-top: 6rem;
    align-items: center;
}
.secao_equipe{
    display: flex;
    justify-content: space-between;
    gap: 1.1rem;
    
}

.img_cabecas_de_nos_tdos{
    display: grid;
    gap: 1rem;
}


.nomes_e_email{
    display: grid;
    justify-items: flex-start;
    align-items: center;
   
}

.paragrafos_equipe{
    font-size: 1rem;
    color: #8a2be2;
}

.nomes_e_email a{
    color: #B77AEF;
}


/* media */

@media  (max-width: 863px){
    #logo_principal{
        display: none;
    }
    #logo_media_query{
        cursor: pointer;
        display: block;
        width: 3.5rem;
    }

    .contanier_main{
        display: grid;
    }
    .fotos_apresentacao{
        justify-content: space-evenly;
    }

    .contanier_equipe{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
        gap: 4rem;
        
    }
}

@media (max-width: 720px){
    #hamburguer{
        width: 30px;
        border-top: 2px solid;
        color: #8a2be2;
        
    }

    #hamburguer::after, #hamburguer::before{
        content: '';
        display: block;
        width: 30px;
        height: 2px;
        background: currentColor;
        margin-top: 5px;
        transition: .3s;
        position: relative;
    }
    .navbar.active #hamburguer{
        border-top-color: transparent;

    }
    
    .navbar.active #hamburguer::before{
        transform: rotate(135deg);
    }
    .navbar.active #hamburguer::after{
        transform: rotate(-135deg);
        top: -7px;
    }
    #botao{
        display: flex;
        padding: .5rem 1rem;
        font-size: 1.3rem;
        border: none;
        background: none;
        cursor: pointer;
        gap: 1rem;
        color: #8a2be2;
        align-items: center;
    }
    
    .navbar ul {
        display: block; 
        position: absolute;
        width: 100%;
        top: 80px;
        right: 0px;
        background: #0E0718;
        height: 0px;
        transition: .6s;
        z-index: 1000;
        visibility: hidden;
        overflow-y: hidden;
       
    }
    .navbar li{
        background: none;
        text-align: center;
        
    }
    .navbar  a{
        
        margin-top: 1rem;
        color:#8a2be2;
        border-bottom: 1px solid #B77AEF;
        width: 100%;
        display: block;
        font-size: 1.5rem;
    
    }
    .navbar.active ul{
        margin-top: 2rem;
        visibility: visible;
        height: 100vh;
        overflow-y: auto;
    }
    
    
    
    .contanier_down{
        display: grid;
        grid-template-columns: 1fr;
        gap: 6rem;
        
    }
    .img_down{
        grid-column-start: 1;
        grid-row-start: 2;

    }
    .texto_download{
        width: 100%;
        align-items: center;
        gap: 2.3rem;
        text-align: justify;
    }
}

@media (max-width: 690px){
    .fotos_apresentacao{
        display: grid;
        grid-template-columns: 1fr 1fr;
        align-items: center;
        justify-items: center;
        gap: 3rem;
        column-gap: 0;
    }
    .fotos_apresentacao :last-child{
        grid-column-start: 1;
        grid-column-end: 3;
        
    }
    .fotos_app{
        grid-template-columns:1fr 1fr;
        column-gap: 0.1rem;
        row-gap: 3rem;
        
    }
}

@media(max-width:529px){
    .img_down{
        text-align: center;
    }
    .img_down img{
        max-width: 70%;  
    }
    .img_equipe{
        text-align: center;
    }
    .img_equipe img{
        max-width: 70%;
        text-align: center;
    }
}

@media(max-width: 465px){
    .fotos_apresentacao{
        display: flex;
        flex-direction: column;
    }
    .fotos_apresentacao img{
        object-fit: cover;
    }
    .fotos_app{
        grid-template-columns: 1fr;
    }
    .img_cabecas_de_nos_tdos img {
        min-width: 70%;
        max-width: 80%;
    }
}